<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style>
	

		
		div
		{
			border: thin black;
			background-color: lightpink;
			
		}
		img
		{
			width: 250px;
			height: 300px;
		}
		
	</style>
</head>
<body>
	<div align="center">
		<h1>OWN PAGE</h1>
	
		<table border="think black">
			<thead>
			<tr>
				<th><td colspan="2" colspan="1">I PHONE</td>
				<td colspan ="3"><a href="C:\Users\prana\OneDrive\Desktop\kishor sir html\02.mock.html">LOGIN</td>
				<td colspan="4"><a href="C:\Users\prana\OneDrive\Desktop\kishor sir html\03.mock.html">SIN UP</td></th>
			</tr>
		</table><br>
			<table>
			<tr>
				<td>
				<img src="https://media.wired.com/photos/5bcea2642eea7906bba84c67/master/w_2560%2Cc_limit/iphonexr.jpg"></td>
				<td>
					<img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-blue-witb-2021_FMT_WHH?wid=560&hei=744&fmt=jpeg&qlt=80&.v=1630362121000">
				</td>
				<td>
					<img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone11-select-2019-family?wid=882&hei=1058&fmt=jpeg&qlt=80&.v=1567022175704">
				</td>
			</tr>
			<tr>
				<td>
					<img src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/142227-phones-review-iphone-x-review-photos-image1-ahdsiyvum0.jpg"></td>
					<td><img src="https://m.media-amazon.com/images/I/71w3oJ7aWyL._SX466_.jpg"></td>
					<td><img src="https://m.media-amazon.com/images/I/61VuVU94RnL._SX466_.jpg"></td>
			
			</tr>
			<tr>
				<td colspan="4" align="center
				"><footer>OWN PAGE</footer></td></tr>
		</thead>
	</table>